<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="myPerson" class="com.eflu.beans.Person">
		<property name="country" ref="myCountry"></property>
		<property name="id" value="1"></property>
		<property name="name" value="Edgar"></property>
		<property name="nickName" value="chano"></property>
	</bean>

	<bean id="myCountry" class="com.eflu.beans.Country">
		<property name="name" value="Peru"></property>
		<property name="cityList">
			<list>
				<ref bean="city1" />
				<ref bean="city2" />
				<ref bean="city3" />
			</list>

		</property>
	</bean>

	<bean id="city1" class="com.eflu.beans.City">
		<property name="name" value="Arequipa"></property>
	</bean>

	<bean id="city2" class="com.eflu.beans.City">
		<property name="name" value="Lima"></property>
	</bean>

	<bean id="city3" class="com.eflu.beans.City">
		<property name="name" value="Trujillo"></property>
	</bean>


</beans>
